In [3]:
import tushare as ts
import csv
import time
import pandas as pd
pro = ts.pro_api('35d8848b876df93910413e8936c40745d7b7da42553ae73920862cd9')

In [24]:
start_date = '20200101'
end_date = '20200301'
ts_code = '000001.SZ'
year='2020'

### 1. 股票数据获取（Tushare）

#### 1.1 股票基本信息

In [4]:
stock_basic = pro.stock_basic(list_status='L', fields='ts_code, symbol, name, industry')

# 重命名字段（便于后续导入neo4j）
basic_rename = {'ts_code': 'TS代码', 'symbol': '股票代码', 'name': '股票名称', 'industry': '行业'}
stock_basic.rename(columns=basic_rename, inplace=True)

# 保存为stock_basic.csv
stock_basic.to_csv('financial_data\\stock_basic.csv', encoding='gbk')

stock_basic.head()

        TS代码    股票代码  股票名称    行业
0  000001.SZ  000001  平安银行    银行
1  000002.SZ  000002   万科A  全国地产
2  000004.SZ  000004  国华网安  软件服务
3  000005.SZ  000005  ST星源  环境保护
4  000006.SZ  000006  深振业A  区域地产

#### 1.2 股票Top10股东信息

In [6]:
holders = pd.DataFrame(columns=('ts_code', 'ann_date', 'end_date', 'holder_name', 'hold_amount', 'hold_ratio'))

top10_holders = pro.top10_holders(ts_code=ts_code, start_date=start_date, end_date=end_date)

top10_holders.head()

,ts_code,ann_date,end_date,holder_name,hold_amount,hold_ratio
0,000001.SZ,20200421,20200331,中国平安保险(集团)股份有限公司-集团本级-自有资金,9.618540e+09,49.56
1,000001.SZ,20200421,20200331,香港中央结算有限公司(陆股通),1.669875e+09,8.60
2,000001.SZ,20200421,20200331,中国平安人寿保险股份有限公司-自有资金,1.186100e+09,6.11
3,000001.SZ,20200421,20200331,中国平安人寿保险股份有限公司-传统-普通保险产品,4.404787e+08,2.27
4,000001.SZ,20200421,20200331,中国证券金融股份有限公司,4.292327e+08,2.21

#### 1.3 股票概念信息

In [8]:
concept_details = pd.DataFrame(columns=('id', 'concept_name', 'ts_code', 'name'))

# concept_detail = pro.concept_detail(id='TS0')  # 该接口 TOKEN 受限
    
# concept_detail.head()

#### 1.4 股票公告信息

In [12]:
# notices = pro.anns(ts_code=ts_code, start_date=start_date, end_date=end_date, year=year)  # 该接口 TOKEN 受限

# notices.to_csv("financial_data\\notices\\"+str(code)+".csv",encoding='utf_8_sig',index=False)

# notices.head()

#### 1.5 财经新闻信息

In [129]:
news = pro.news(src='sina', start_date='2018-11-21 09:00:00', end_date='2018-11-22 10:10:00')
news.head()

,datetime,content,title
0,2018-11-22 10:09:00,【北京：10月末非金融企业贷款增速创历史同期新高 】据中国人民银行营业管理部11月22日披露...,
1,2018-11-22 10:08:29,【湖北省积极推动企业向科创板靠拢，年底将向上交所推荐一批优质企业】湖北省上市指导中心相关人士...,
2,2018-11-22 10:08:04,【上海：加快专利审查速度 进一步缩短专利授权周期】上海市人民政府发布关于加快本市高新技术企业...,
3,2018-11-22 10:04:35,【生意社：稀土价格走势或将上涨】11月20日稀土指数为344点，与上一日持平，较2011年1...,
4,2018-11-22 10:03:40,【上海：加快建设具有全球影响力的科技创新中心 做大做强高新技术产业】上海市人民政府发布关于加...,

#### 1.6 概念信息

In [19]:
# concept = pro.concept()  # 该接口 TOKEN 受限

# concept.head()

#### 1.7 沪股通成分和深股通成分信息

In [20]:
sh = pro.hs_const(hs_type='SH')  # 获取沪股通成分

sz = pro.hs_const(hs_type='SZ')  # 获取深股通成分

sh.head()

     ts_code hs_type   in_date out_date is_new
0  601628.SH      SH  20141117     None      1
1  601099.SH      SH  20141117     None      1
2  601808.SH      SH  20141117     None      1
3  601107.SH      SH  20141117     None      1
4  601880.SH      SH  20141117     None      1

#### 1.8 股票价格信息

In [29]:
end_date = '20200201'  # 使用更短数据目的是1.9绘制走势图数值不重叠

price = pro.query('daily', ts_code=ts_code, start_date=start_date, end_date=end_date)

price.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20200123,15.92,15.92,15.39,15.54,16.09,-0.55,-3.4183,1100592.07,1723394.336
1,000001.SZ,20200122,15.92,16.16,15.71,16.09,16.00,0.09,0.5625,719464.91,1150933.398
2,000001.SZ,20200121,16.34,16.34,15.93,16.00,16.45,-0.45,-2.7356,896603.10,1442171.431
3,000001.SZ,20200120,16.43,16.61,16.35,16.45,16.39,0.06,0.3661,746074.75,1226464.649
4,000001.SZ,20200117,16.38,16.55,16.35,16.39,16.33,0.06,0.3674,605436.69,995909.007

#### 1.9 股票价格走势图

In [34]:
from pyecharts.charts import Line
from pyecharts import options as opts
import numpy as np

price = pro.query('daily', ts_code=ts_code, start_date=start_date, end_date=end_date)
(
    Line()
    .add_xaxis(xaxis_data=list(price['trade_date'])[::-1])
    .add_yaxis(series_name="收盘价",y_axis=list(price['close'])[::-1],symbol="circle")
#     .add_yaxis(series_name="开盘价",y_axis=list(price['open'])[::-1],symbol="circle")
#     .add_yaxis(series_name="最高价",y_axis=list(price['high'])[::-1],symbol="circle")
#     .add_yaxis(series_name="最低价",y_axis=list(price['low'])[::-1],symbol="circle")
    .set_global_opts(title_opts=opts.TitleOpts(title="价格走势图"))
    .render_notebook()
)

#### 1.10 基本面数据

In [110]:
stock_company = pro.stock_company(exchange='SZSE', fields='ts_code,chairman,manager,secretary,reg_capital,setup_date,province')
stock_company.head()

     ts_code chairman manager secretary  reg_capital setup_date province
0  300952.SZ      王咸华     王咸华       张武芬   14492.7653   20040415       江苏
1  300268.SZ       汤捷      汤捷       杨振刚   17420.0000   20030508       湖南
2  300447.SZ      陈祥楼      何亮        孙璐   29106.9255   20010929       江苏
3  300451.SZ       葛航     张吕峥        胡燕  119260.8104   19971210       浙江
4  002531.SZ      严俊旭     严俊旭        朱彬  180250.9062   20050118       江苏

In [113]:
import tushare as ts
ts.get_notices("000001").head()

,title,type,date,url
0,平安银行：平安银行股份有限公司2020年年度权益分派实施公告2021-05-07,临时公告,2021-05-07,http://vip.stock.finance.sina.com.cn/corp/view...
1,平安银行：2021年第一季度报告全文,一季度报告,2021-04-21,http://vip.stock.finance.sina.com.cn/corp/view...
2,平安银行：一季报监事会决议公告,临时公告,2021-04-21,http://vip.stock.finance.sina.com.cn/corp/view...
3,平安银行：一季报董事会决议公告,临时公告,2021-04-21,http://vip.stock.finance.sina.com.cn/corp/view...
4,平安银行：2021年第一季度报告正文,一季度报告（摘要）,2021-04-21,http://vip.stock.finance.sina.com.cn/corp/view...

In [114]:
ts.guba_sina().head()

                 title         ptime  rcounts
0          机构减仓或在战役性转移  05月07日 14:57    360.0
1   170家电子行业公司发布年度业绩预告                    0.0
2  券商开户专属通道：新客专享理财福利多多                    0.0
3        热门股票如何选择盘中介入点  05月07日 07:40    419.0
4    节后综合症再现 依然不乏结构性机会  05月07日 08:03    507.0

In [115]:
ts.get_hist_data("000001").head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-05-07,23.67,24.30,24.05,23.39,802214.25,0.55,2.34,23.556,23.294,22.153,614633.11,766603.84,700531.86,0.41
2021-05-06,23.10,23.70,23.50,23.10,500295.19,0.21,0.90,23.334,23.058,22.034,548276.55,769859.69,680476.29,0.26
2021-04-30,23.35,23.49,23.29,23.01,561981.31,-0.30,-1.27,23.222,22.823,21.934,622701.05,831058.44,684515.71,0.29
2021-04-29,23.34,23.71,23.59,23.11,614836.88,0.24,1.03,23.222,22.520,21.859,674950.82,847860.13,683639.09,0.32
2021-04-28,23.29,23.45,23.35,22.78,593837.94,0.41,1.79,23.100,22.197,21.780,717922.23,859962.95,691748.65,0.31

In [116]:
ts.get_hist_data("000001",ktype="w").head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-05-07,23.10,24.30,24.05,23.10,1302509.50,0.76,3.26,22.438,21.912,21.823,2882347.97,3893787.24,4866394.11,0.67
2021-04-30,23.87,24.23,23.29,22.78,3113505.25,0.00,0.00,21.928,21.645,21.538,3307222.47,4560954.59,5004209.48,1.60
2021-04-23,20.03,23.65,23.29,19.91,5197079.00,3.03,14.96,21.498,21.701,21.300,3544311.92,4492385.46,5036850.99,2.68
2021-04-16,21.51,21.51,20.26,19.81,3097949.00,-1.04,-4.88,20.934,21.754,21.100,3492326.92,4367200.06,5044014.37,1.60
2021-04-09,21.55,22.09,21.30,21.08,1700697.12,-0.20,-0.93,21.178,22.221,21.072,3922926.32,4865955.41,5078637.83,0.88

In [117]:
ts.get_hist_data("000001",ktype="m").head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-05-07,23.10,24.30,24.05,23.10,1302509.5,0.76,3.26,22.764,20.090,17.241,17859144.9,20308849.85,20748658.73,0.67
2021-04-30,22.08,24.23,23.29,19.81,14234763.0,1.28,5.82,21.822,19.019,16.818,21521885.8,24854576.10,21952860.65,7.34
2021-03-31,21.54,23.49,22.01,20.28,23400600.0,0.63,2.95,21.112,17.970,16.361,22789929.6,25258599.60,22737767.70,12.06
2021-02-26,23.00,25.31,21.38,21.21,22432726.0,-1.71,-7.41,20.260,17.069,15.967,22277667.2,24135001.50,22393905.60,11.56
2021-01-29,19.10,23.54,23.09,17.80,27925126.0,3.75,19.39,19.018,16.324,15.587,22094764.0,23598847.10,22103348.45,14.39

In [118]:
ts.get_hist_data("000001",ktype="5").head()  # 5min (15,30,60)

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-05-07 15:00:00,24.01,24.03,24.01,23.98,14157.80,0.00,0.00,24.028,23.998,24.0555,13524.9,12686.8,11663.7,0.01
2021-05-07 14:55:00,24.03,24.04,24.01,23.96,14808.00,-0.02,-0.08,24.024,24.002,24.0630,12897.5,13060.2,11526.3,0.01
2021-05-07 14:50:00,24.08,24.10,24.02,23.96,20615.30,-0.06,-0.25,23.998,24.011,24.0670,12849.7,13332.0,11336.4,0.01
2021-05-07 14:45:00,24.01,24.08,24.08,24.01,9387.44,0.07,0.29,23.990,24.012,24.0680,10501.1,12905.3,11421.0,0.01
2021-05-07 14:40:00,24.00,24.03,24.02,23.95,8656.08,0.02,0.08,23.978,24.012,24.0655,11153.4,12820.4,11752.8,0.01

In [119]:
# sh上证指数； sz深圳成指； hs300沪深300； sz50上证50； zxb中小板指数； cyb创业板指数
ts.get_hist_data("cyb").head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2021-05-07,3021.87,3026.85,2910.41,2910.41,14489343.0,-104.40,-3.46,3023.724,2992.490,2898.924,16444300.8,16648376.3,15426893.45
2021-05-06,3059.58,3059.58,3014.81,2961.99,16552269.0,-76.59,-2.48,3038.848,2991.060,2894.984,16974533.4,16827430.9,15346704.55
2021-04-30,3040.65,3110.16,3091.40,3037.31,16606502.0,39.98,1.31,3029.766,2979.452,2886.855,17752532.8,17050663.6,15277921.70
2021-04-29,3053.74,3068.60,3051.42,3014.55,16647988.0,0.84,0.03,3010.384,2948.649,2873.055,17834241.6,16717391.8,15101499.00
2021-04-28,2990.70,3052.04,3050.58,2980.65,17925402.0,64.55,2.16,2987.978,2922.571,2858.409,17635713.4,16185039.8,14900826.45

### 2.股票数据获取（巨宽数据源）

In [40]:
from jqdatasdk import *

auth('18280180192', 'Tencent123')  # 请自行前往 https://www.joinquant.com/ 免费申请TOKEN

security = '000300.XSHG'
start_date = '2020-01-01'
end_date = '2020-03-01'

In [42]:
# security 股票代码
# frequency 时间粒度（1d=日）
# skip_paused 是否跳过缺失交易数据时间点
stock_price = get_price(security=security, start_date=start_date, end_date=end_date, frequency='1d',skip_paused=False)

stock_price.head()

               open    close     high      low        volume         money
2020-01-02  4121.35  4152.24  4172.66  4121.35  1.821168e+10  2.701055e+11
2020-01-03  4161.22  4144.96  4164.30  4131.86  1.428262e+10  2.152163e+11
2020-01-06  4120.52  4129.30  4170.64  4102.38  1.753100e+10  2.501821e+11
2020-01-07  4137.40  4160.23  4161.25  4135.10  1.394890e+10  1.963891e+11
2020-01-08  4139.63  4112.32  4149.81  4101.98  1.675858e+10  2.124063e+11

### 3.股票数据预处理

In [43]:
import pandas as pd
import numpy as np
import os
import math

#### 3.1 对数收益率

In [98]:
# 获取2支股票的历史价格时间序列
start_date = '20200101'
end_date = '20200301'
ts_1_code = '000001.SZ'
ts_2_code = '000004.SZ'


stock_1_price = pro.query('daily', ts_code=ts_1_code, start_date=start_date, end_date=end_date)

stock_2_price = pro.query('daily', ts_code=ts_2_code, start_date=start_date, end_date=end_date)

stock_1_price.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20200228,14.85,15.04,14.46,14.50,15.11,-0.61,-4.0371,1300644.45,1906892.413
1,000001.SZ,20200227,14.96,15.15,14.89,15.11,14.99,0.12,0.8005,975270.90,1464605.739
2,000001.SZ,20200226,14.77,15.27,14.70,14.99,15.04,-0.05,-0.3324,1176599.15,1769612.245
3,000001.SZ,20200225,15.00,15.13,14.78,15.04,15.23,-0.19,-1.2475,1144575.02,1710369.786
4,000001.SZ,20200224,15.46,15.46,15.15,15.23,15.58,-0.35,-2.2465,1191794.50,1820183.854

In [99]:
# 计算000001.SZ的对数收益

stock_1_price = stock_1_price[::-1]  # 按时间升序展示

stock_1_price['index'] = ['0'] * len(stock_1_price['close'])  # 若不存在index则使用该方法填充
stock_1_price['next_close'] = stock_1_price.groupby('index')['close'].shift(-1)  # 生成next close值
stock_1_price = stock_1_price.drop(index=stock_1_price.index[-1])  # 删除最后一交易日（因不存在next close值）

logreturn = []
for i in stock_1_price.index:
    logreturn.append(math.log(stock_1_price['next_close'][i]/stock_1_price['close'][i]))

stock_1_price['logreturn'] = logreturn

stock_1_price

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,index,next_close,logreturn
35,000001.SZ,20200102,16.65,16.95,16.55,16.87,16.45,0.42,2.5532,1530231.87,2571196.482,0,17.18,0.018209
34,000001.SZ,20200103,16.94,17.31,16.92,17.18,16.87,0.31,1.8376,1116194.81,1914495.474,0,17.07,-0.006423
33,000001.SZ,20200106,17.01,17.34,16.91,17.07,17.18,-0.11,-0.6403,862083.50,1477930.193,0,17.15,0.004676
32,000001.SZ,20200107,17.13,17.28,16.95,17.15,17.07,0.08,0.4687,728607.56,1247047.135,0,16.66,-0.028988
31,000001.SZ,20200108,17.00,17.05,16.63,16.66,17.15,-0.49,-2.8571,847824.12,1423608.811,0,16.79,0.007773
30,000001.SZ,20200109,16.81,16.93,16.53,16.79,16.66,0.13,0.7803,1031636.65,1725326.806,0,16.69,-0.005974
29,000001.SZ,20200110,16.79,16.81,16.52,16.69,16.79,-0.10,-0.5956,585548.45,975154.818,0,16.99,0.017815
28,000001.SZ,20200113,16.75,17.03,16.61,16.99,16.69,0.30,1.7975,872133.36,1468271.683,0,16.76,-0.013630
27,000001.SZ,20200114,16.99,17.27,16.76,16.76,16.99,-0.23,-1.3537,1304493.66,2217608.852,0,16.52,-0.014423
26,000001.SZ,20200115,16.79,16.86,16.45,16.52,16.76,-0.24,-1.4320,859439.12,1424889.228,0,16.33,-0.011568
25,000001.SZ,20200116,16.52,16.57,16.20,16.33,16.52,-0.19,-1.1501,1028104.67,1678888.507,0,16.39,0.003667
24,000001.SZ,20200117,16.38,16.55,16.35,16.39,16.33,0.06,0.3674,605436.69,995909.007,0,16.45,0.003654
23,000001.SZ,20200120,16.43,16.61,16.35,16.45,16.39,0.06,0.3661,746074.75,1226464.649,0,16.00,-0.027737
22,000001.SZ,20200121,16.34,16.34,15.93,16.00,16.45,-0.45,-2.7356,896603.10,1442171.431,0,16.09,0.005609
21,000001.SZ,20200122,15.92,16.16,15.71,16.09,16.00,0.09,0.5625,719464.91,1150933.398,0,15.54,-0.034781
20,000001.SZ,20200123,15.92,15.92,15.39,15.54,16.09,-0.55,-3.4183,1100592.07,1723394.336,0,13.99,-0.105075
19,000001.SZ,20200203,13.99,14.70,13.99,13.99,15.54,-1.55,-9.9743,2259194.83,3201454.164,0,14.60,0.042679
18,000001.SZ,20200204,14.05,14.66,14.02,14.60,13.99,0.61,4.3603,1706172.07,2442932.842,0,14.63,0.002053
17,000001.SZ,20200205,14.59,14.89,14.32,14.63,14.60,0.03,0.2055,1491380.21,2177632.043,0,14.77,0.009524
16,000001.SZ,20200206,14.81,14.87,14.51,14.77,14.63,0.14,0.9569,1185815.72,1740107.625,0,14.62,-0.010208
15,000001.SZ,20200207,14.60,14.69,14.41,14.62,14.77,-0.15,-1.0156,924852.96,1345053.255,0,14.50,-0.008242
14,000001.SZ,20200210,14.51,14.53,14.30,14.50,14.62,-0.12,-0.8208,1339495.24,1931983.482,0,14.79,0.019803
13,000001.SZ,20200211,14.60,14.94,14.56,14.79,14.50,0.29,2.0000,1407507.44,2077194.138,0,14.77,-0.001353
12,000001.SZ,20200212,14.79,14.82,14.60,14.77,14.79,-0.02,-0.1352,1070503.21,1573229.042,0,14.65,-0.008158
11,000001.SZ,20200213,14.71,14.88,14.61,14.65,14.77,-0.12,-0.8125,1013205.28,1491327.713,0,15.03,0.025608
10,000001.SZ,20200214,14.75,15.14,14.70,15.03,14.65,0.38,2.5939,1512434.73,2253906.452,0,15.37,0.022369
9,000001.SZ,20200217,15.04,15.37,14.93,15.37,15.03,0.34,2.2621,1543696.01,2337993.586,0,15.20,-0.011122
8,000001.SZ,20200218,15.33,15.33,15.01,15.20,15.37,-0.17,-1.1061,973612.35,1478274.222,0,15.24,0.002628
7,000001.SZ,20200219,15.10,15.37,15.08,15.24,15.20,0.04,0.2632,874106.93,1333730.218,0,15.59,0.022706
6,000001.SZ,20200220,15.27,15.62,15.10,15.59,15.24,0.35,2.2966,1235444.34,1897923.029,0,15.58,-0.000642
5,000001.SZ,20200221,15.49,15.72,15.45,15.58,15.59,-0.01,-0.0641,995071.02,1546692.930,0,15.23,-0.022721
4,000001.SZ,20200224,15.46,15.46,15.15,15.23,15.58,-0.35,-2.2465,1191794.50,1820183.854,0,15.04,-0.012554
3,000001.SZ,20200225,15.00,15.13,14.78,15.04,15.23,-0.19,-1.2475,1144575.02,1710369.786,0,14.99,-0.003330
2,000001.SZ,20200226,14.77,15.27,14.70,14.99,15.04,-0.05,-0.3324,1176599.15,1769612.245,0,15.11,0.007973
1,000001.SZ,20200227,14.96,15.15,14.89,15.11,14.99,0.12,0.8005,975270.90,1464605.739,0,14.50,-0.041208

#### 3.2 股票的对数收益率的相关性

In [101]:
def multipl(a,b):
    sumofab = 0.0
    for i in range(len(a)):
        temp = a[i] * b[i]
        sumofab += temp
    return sumofab
 
def corrcoef(x,y):
    n = len(x)
    
    #求和
    sum1 = sum(x)
    sum2 = sum(y)
    
    #求乘积之和
    sumofxy = multipl(x,y)
    
    #求平方和
    sumofx2 = sum([pow(i,2) for i in x])
    sumofy2 = sum([pow(j,2) for j in y])
    num = sumofxy-(float(sum1)*float(sum2)/n)
    
    den = math.sqrt((sumofx2-float(sum1**2)/n)*(sumofy2-float(sum2**2)/n))
    
    return num/den

In [102]:
# 计算stock_1_price和stock_1_price的皮尔逊相关系数
corrcoef(list(stock_1_price['logreturn']), list(stock_1_price['logreturn']))

1.0

In [100]:
# 计算000002.SZ的对数收益

stock_2_price = stock_2_price[::-1]  # 按时间升序展示

stock_2_price['index'] = ['0'] * len(stock_2_price['close'])  # 若不存在index则使用该方法填充
stock_2_price['next_close'] = stock_2_price.groupby('index')['close'].shift(-1)  # 生成next close值
stock_2_price = stock_2_price.drop(index=stock_2_price.index[-1])  # 删除最后一交易日（因不存在next close值）

logreturn = []
for i in stock_2_price.index:
    logreturn.append(math.log(stock_2_price['next_close'][i]/stock_2_price['close'][i]))

stock_2_price['logreturn'] = logreturn

stock_2_price

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,index,next_close,logreturn
35,000004.SZ,20200102,22.65,22.90,22.17,22.33,22.59,-0.26,-1.1510,17853.20,40144.977,0,22.35,0.000895
34,000004.SZ,20200103,22.31,22.48,22.03,22.35,22.33,0.02,0.0896,13380.09,29779.317,0,21.75,-0.027213
33,000004.SZ,20200106,22.20,22.20,21.55,21.75,22.35,-0.60,-2.6846,20316.99,44304.874,0,22.10,0.015964
32,000004.SZ,20200107,21.80,22.20,21.67,22.10,21.75,0.35,1.6092,17433.20,38299.735,0,21.78,-0.014585
31,000004.SZ,20200108,21.91,22.77,21.78,21.78,22.10,-0.32,-1.4480,15503.78,34574.063,0,22.32,0.024491
30,000004.SZ,20200109,22.11,22.50,21.80,22.32,21.78,0.54,2.4793,12415.32,27618.678,0,22.33,0.000448
29,000004.SZ,20200110,22.50,22.80,22.15,22.33,22.32,0.01,0.0448,17227.00,38594.631,0,23.03,0.030867
28,000004.SZ,20200113,22.50,23.70,22.33,23.03,22.33,0.70,3.1348,35126.48,80788.795,0,23.00,-0.001303
27,000004.SZ,20200114,22.96,23.36,22.75,23.00,23.03,-0.03,-0.1303,19488.16,44925.565,0,22.55,-0.019759
26,000004.SZ,20200115,23.02,23.02,22.35,22.55,23.00,-0.45,-1.9565,14543.01,32867.949,0,22.46,-0.003999
25,000004.SZ,20200116,22.81,22.81,22.13,22.46,22.55,-0.09,-0.3991,13060.55,29221.955,0,22.24,-0.009843
24,000004.SZ,20200117,22.30,22.60,22.18,22.24,22.46,-0.22,-0.9795,10451.42,23375.135,0,23.33,0.047848
23,000004.SZ,20200120,22.68,23.60,22.60,23.33,22.24,1.09,4.9011,28042.52,65069.386,0,23.55,0.009386
22,000004.SZ,20200121,23.47,23.98,22.98,23.55,23.33,0.22,0.9430,27734.09,65161.618,0,23.70,0.006349
21,000004.SZ,20200122,23.51,24.18,23.03,23.70,23.55,0.15,0.6369,25890.01,61303.986,0,22.82,-0.037838
20,000004.SZ,20200123,23.01,23.80,22.45,22.82,23.70,-0.88,-3.7131,26265.72,60624.416,0,20.54,-0.105263
19,000004.SZ,20200203,20.54,20.54,20.54,20.54,22.82,-2.28,-9.9912,4300.00,8832.200,0,19.73,-0.040234
18,000004.SZ,20200204,18.51,20.10,18.51,19.73,20.54,-0.81,-3.9435,32157.10,62466.364,0,21.12,0.068080
17,000004.SZ,20200205,19.71,21.36,19.71,21.12,19.73,1.39,7.0451,28554.50,58674.385,0,21.76,0.029853
16,000004.SZ,20200206,21.16,22.18,20.91,21.76,21.12,0.64,3.0303,23748.00,51480.051,0,21.57,-0.008770
15,000004.SZ,20200207,21.58,22.03,21.00,21.57,21.76,-0.19,-0.8732,25770.51,55235.268,0,21.90,0.015183
14,000004.SZ,20200210,21.78,22.18,21.38,21.90,21.57,0.33,1.5299,22118.18,48091.949,0,21.37,-0.024499
13,000004.SZ,20200211,21.82,21.92,21.21,21.37,21.90,-0.53,-2.4201,17746.45,38129.473,0,21.63,0.012093
12,000004.SZ,20200212,21.37,21.76,21.10,21.63,21.37,0.26,1.2167,13620.00,29355.418,0,21.30,-0.015374
11,000004.SZ,20200213,21.60,21.62,21.25,21.30,21.63,-0.33,-1.5257,13368.01,28599.546,0,21.34,0.001876
10,000004.SZ,20200214,21.49,21.78,21.16,21.34,21.30,0.04,0.1878,14508.00,31093.681,0,23.47,0.095140
9,000004.SZ,20200217,22.05,23.47,21.91,23.47,21.34,2.13,9.9813,29755.20,68272.475,0,25.82,0.095426
8,000004.SZ,20200218,24.88,25.82,23.70,25.82,23.47,2.35,10.0128,65499.14,162710.522,0,28.40,0.095240
7,000004.SZ,20200219,26.84,28.40,26.84,28.40,25.82,2.58,9.9923,28798.11,80680.600,0,31.24,0.095310
6,000004.SZ,20200220,29.37,31.24,25.56,31.24,28.40,2.84,10.0000,150919.04,435957.820,0,34.36,0.095194
5,000004.SZ,20200221,34.00,34.36,33.00,34.36,31.24,3.12,9.9872,63137.42,215454.458,0,37.80,0.095416
4,000004.SZ,20200224,37.80,37.80,37.80,37.80,34.36,3.44,10.0116,14243.09,53838.880,0,41.58,0.095310
3,000004.SZ,20200225,40.00,41.58,36.70,41.58,37.80,3.78,10.0000,279365.39,1111662.193,0,37.42,-0.105414
2,000004.SZ,20200226,38.21,39.55,37.42,37.42,41.58,-4.16,-10.0048,141673.94,540539.274,0,37.00,-0.011287
1,000004.SZ,20200227,35.81,39.96,33.93,37.00,37.42,-0.42,-1.1224,192268.71,705851.089,0,40.70,0.095310

#### 查看时间序列长度是否一致

In [104]:
len(list(stock_1_price['logreturn']))

35

In [106]:
len(list(stock_2_price['logreturn']))

35

In [107]:
# 计算stock_1_price和stock_2_price的皮尔逊相关系数
corrcoef(list(stock_1_price['logreturn']), list(stock_2_price['logreturn']))

0.24605475817036795